<!-- Install Bootstrap
  npm install Bootstrap
  add "node_modules/bootstrap/dist/css/bootstrap.min.css" path in angular.json

-->

<!-- <button class="btn btn-primary"> Primary button </button> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- 
  Component
  component Communication
  Componenet Hooks
  Directives
  Pipes
  Services
  RXJS
  HTTP
  Forms
  Animation
  Routing
 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>