<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Angular 13</h3>
    <a routerLink="data-binding" class="w3-bar-item w3-button">Data Binding</a>
    <a routerLink="directives" class="w3-bar-item w3-button">Directives</a>
    <a routerLink="communication" class="w3-bar-item w3-button">Communication</a>
    <a routerLink="child-routing" class="w3-bar-item w3-button">Child Routing</a>
    <a routerLink="pipes" class="w3-bar-item w3-button"> Pipes </a>
    <a routerLink="rxjs" class="w3-bar-item w3-button"> RXJS Concepts </a>
    <a routerLink="subject" class="w3-bar-item w3-button"> Subject Example </a>
    <a routerLink="http" class="w3-bar-item w3-button"> HTTP </a>
    <a routerLink="form" class="w3-bar-item w3-button"> Forms </a>
    <a routerLink="animation" class="w3-bar-item w3-button"> Animations </a>

  </div>
  